**/**/__pycache__
**/runs/
**/.vscode/
# python cache
**/venv/
**/.cache/

# data
**/dataset/
**/imgs/
**/experiments/
**/experiments_best/
**/experiments_fp16/
**/vis_test/
**/vis_output/

# shell scripts
**/*.sh

*.md 
**/LICENSE