########################
# 1 ─ Cache / compiled
########################
**/__pycache__/
*.py[cod]
*.so
*.dll

########################
# 2 ─ Environment and IDE configurations
########################
venv/
.env/
.idea/
.vscode/
*.egg-info/

########################
# 3 ─ Data and logs
########################
client/data/
orchestrator/edge_server/data/
orchestrator/edge_server/logs/

########################
# 4 ─ Model Checkpoints
########################
**/*.pt
**/*.pth
**/*.ckpt
**/*checkpoint*
**/*.npz

########################
# 5 ─ VCS
########################
.git/
